PORT = 8000
MONGOOSE_URL= mongodb+srv://HiteshNirmal:your-password@cluster0.umcmy8s.mongodb.net
CORS_ORIGIN =*
ACCESS_TOKEN_SECRET = hitesh
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET = 4nB8xL2qW7mP9zK5rT1vC6sD3
REFRESH_TOKEN_EXPIRY = nirmal